/* common shared style */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;

}
/*  Header Design */
.header{
    background-color:rgba(229, 84, 115, 0.10);
}
.banner{
    padding: 20px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}
.banner-content{
    margin-bottom:100px;
}
.banner-intro{
    color: #272727;
    font-size: 50px;
    font-weight: bold;
    margin-bottom:30px;
    
}
.banner-des{
    color: rgba(39, 39, 39, 0.60);
    font-size:12px;
    font-weight: 400;
    line-height: 20px;
    margin:30px 0px;

}

 .banner-pic1{
    width: 400px;
    margin-bottom:0px; 
    margin-right:200px;
     
}
.btn-primary1{
    padding: 20px 40px;
    border-radius: 8px;
    border-style: none;
    background-color:#E55473;
    color: #fff;

}
/* Featured Flower section  */
.featured{
    margin-top: 120px;
    text-align: center;
}
.featured-flowers{
    display: flex;
    justify-content:center;
    gap: 20px;
    
}
.flower-class1{
    width:350px;
    height:400px;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    background-color: #f5c4e5;
    position: relative;
    
}
.flower-class2{
    width:350px;
    height: 400px;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    background-color: #8fdce4;
    position: relative;

}
.flower-class3{
    width:350px;
    height: 400px;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    background-color: #f6c6ff;
    position: relative;
}
.imgflower1{
    margin-left: 50px;
    margin-top: 70px;
    width: 68%;   
}
.imgflower2{
    margin-left: 40px;
    margin-top: 70px;
    width: 80%;   
}
.imgflower3{
    margin-left: 60px;
    margin-top: 70px;
    width: 63%;   
}
/* Discount Section */
.discount{
    margin-top: 100px;
    padding:40px 150px 0px 130px;
    background:rgb(249, 216, 221);
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-bottom: -60px;
}
.span{
    color: #E55473;
}
.section-title{
    text-align: center;
}
.discount-des{
    text-align:center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.btn-primary2{
    padding: 20px 40px;
    border-radius: 8px;
    border-style: none;
    background-color:#E55473;
    color: #fff;
    margin-left:35%;
}
.instagram-title{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-top:120px;
    margin-bottom:10px;
}
.instagram-des{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height:20px;
}
.instagram-flowers{
    display: flex;
    gap:10px;
    margin:0px 40px;
    margin-bottom:-50px;
}
.latestdeal{
    background-image:url('Flower Asset/dealcover.png');
    height: 500px;
    background-repeat: no-repeat;
    max-width:1440px;
    margin: 120px 150px 0px 150px;
    border-radius:5px; 
    justify-items: center;
}
.latestdeal-title{
    padding-top: 60px;
    text-align: center;
    margin-right: 80px;

}
.latestdeal-des{
color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 12px;
font-weight: 400;
line-height: 20px;
margin-right: 80px;
margin-top: -10px;
}
.input-type{
    width:500px;
    padding:15px;
    border-radius: 5px;
    border: none;
    margin-left:150px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 10px;
    font-weight: 400;
}
.btn-primary3{
    padding: 13px;
    color: #fff;
    background-color: #E55473;
    border:none;
    border-radius: 5px;
}
/* Footer Section */
.footer{margin-top:-120px;
    color: #fff;
    background-color: black;
    height:350px;
    padding:50px 150px 0px 130px;
    font-size: 30px;
    font-weight: 800; 
}
.span2{
    color: #E55473;
}

.footer-title{
    padding-top: 50px;
    text-align: center;
    margin-bottom:30px;
 
}
.footer-des{
    color:#fff;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.footer-icon{
 color: #534e4e;
text-align: center;
font-size: 16px;
font-weight: 400;
margin-top:30px;
}